@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  * {
    @apply border-border;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
  }

  :root {

    /* Colors */
    --background: 0 0% 100%;
    --foreground: 77 47.4% 11.2%;

    --muted: 70 40% 96.1%;
    --muted-foreground: 62 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 70 47.4% 11.2%;

    --border: 68 31.8% 91.4%;
    --input: 68 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 71 47.4% 11.2%;

    --primary: 57 89% 45%;
    --primary-foreground: 70 40% 98%;

    --secondary: 70 40% 96.1%;
    --secondary-foreground: 71 47.4% 11.2%;

    --tertiary: 57 89% 45%;
    --tertiary-foreground: 70 40% 98%;

    --quaternary: 70 40% 96.1%;
    --quaternary-foreground: 71 47.4% 11.2%;

    --accent: 70 3% 13%;
    --accent-foreground: 71 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 70 40% 98%;

    --ring: 68 20.2% 65.1%;

    --text-primary: 0 0% 9%;
    --text-secondary: 0 0% 36%;
    --text-tertiary: 0 0% 45%;
    --text-success: 111 71% 46%;
    --text-error: 0 100% 59%;
    --text-disabled: 0 0% 54%;

    --scrollbar-thumb-color: #d7d7d7;
    --scrollbar-track-color: #ededed;

    /* Screens */
    --screen-mobile: 640px;
    --screen-tablet: 1024px;
    --screen-desktop: 1440px;
    --screen-tv: 1920px;

    /* Shadows */
    --shadow-sm: 0px 0px 10px rgba(132, 132, 132, 15%);
    --shadow-md: 0px 0px 20px rgba(132, 132, 132, 20%);
    --shadow-lg: 0px 0px 30px rgba(132, 132, 132, 25%);
    --shadow-focus: 0px 0px 0px 2px #c4ba03;
    --shadow-outline: 0px 0px 0px 2px #e8e8e8;
    --shadow-button-focus: 0px 0px 0px 2px #fff200;

    /* Blur */
    --blur: 4px;

    /* Font Size */
    --text-xxs: 0.625rem;
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-md: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.75rem;
    --text-4xl: 2rem;
    --text-5xl: 2.25rem;
    --text-6xl: 3rem;
    --text-7xl: 4rem;
    --text-8xl: 4.5rem;
    --text-9xl: 6rem;

    /* Font Weights */
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    /* Line Heights */
    --line-shorter: 125%;
    --line-short: 140%;
    --line-base: 160%;
    --line-tall: 180%;

    /* Radii */
    --radius: 0.5rem;
    --radius-px: 1px;
    --radius-xs: 4px;
    --radius-sm: 6px;
    --radius-md: 8px;
    --radius-lg: 16px;
    --radius-xxl: 3rem;
    --radius-full: 99999px;
  }

  .dark {
    --background: 72 71% 4%;
    --foreground: 62 31% 91%;

    --muted: 74 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 64 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 72 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 64 34% 17%;
    --input: 64 34% 17%;

    --card: 72 71% 4%;
    --card-foreground: 62 31% 91%;

    --primary: 57 77% 52%;
    --primary-foreground: 74 47.4% 1.2%;

    --secondary: 74 47.4% 11.2%;
    --secondary-foreground: 66 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 66 40% 98%;

    --ring: 64 34% 17%;

    --text-primary: 0 0% 91%;
    --text-secondary: 0 0% 64%;
    --text-tertiary: 0 0% 55%;
    --text-success: 111 71% 46%;
    --text-error: 0 100% 59%;
    --text-disabled: 0 0% 46%;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    color: var(--text-primary);
    background-color: var(--background);
  }

  .text-code {
      font-family: monospace;
  }

  button, input, textarea {
      all: unset;
  }

  a {
      text-decoration: none;
  }

  li {
      list-style: none;
  }

  html {
      font-size: 16px;
      @media (max-width: 768px) {
          font-size: 14px;
      }
      @media (max-width: 480px) {
          overflow-y: scroll;
      }
      overflow-x: hidden;
  }

  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
    border-radius: 4px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 14px;
    border: 3px solid var(--scrollbar-track-color);
  }
}